* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  cursor: url(Assets/Cursors/kursor.png), auto;
  font-family: Jazz LET, fantasy;
}

body {
  margin: 0;
  background: radial-gradient(#ffd9de, #3c0001);
}

.page-title {
  color: #3c0001;
  font-family: Jazz LET, fantasy;
  font-weight: normal;
  text-align: center;
  font-size: 6em;
}

.game-info-container {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-info {
  color: #3c0001;
  font-size: 2em;
}

.game-container {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-content: center;
  perspective: 500px;
}

.card {
  position: relative;
  height: 175px;
  width: 125px;
}

.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.card.visible .card-back {
  transform: rotateY(-180deg); 
}

.card.visible .card-front {
  transform: rotateY(0); 
}

.card.matched .card-front .card-value {
  animation: dance 1s linear infinite 500ms;
}

.card-back {
  background-color: rgb(255, 217, 222);
  border-color: #3c0001;
  transform: rotateY(0); 
}

.cob-web {
  position: absolute;
  transition: width 100ms ease-in-out, height 100ms ease-in-out;
  width: 25px;
  height: 25px;
}

.card-face:hover .cob-web {
  width: 30px;
  height: 30px;
}

.cob-web-top-left {
  transform: rotate(180deg);
  top: 0;
  left: 0;
}

.cob-web-top-right {
  transform: rotate(180deg);
  top: 0;
  right: 0;
}

.cob-web-bottom-left {
  bottom: 0;
  left: 0;
}

.cob-web-bottom-right {
  bottom: 0;
  right: 0;
}

.w {
  transition: transform 100ms ease-in-out;
  transform: translateY(+3px);
}

.card-back:hover .w {
  animation: dance 1s linear infinite;
}

.card-value {
  position: relative;
  transition: transform 100ms ease-in-out;
  transform: scale(.9);
}

.card-front:hover .card-value {
  transform: scale(1);
}

.card-front {
  background-color: #ffd9de;
  border-color: #3c0001;
  transform: rotateY(180deg);
}

.overlay-text {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffd9de;
  font-family: Jazz LET, fantasy;
  transition: background-color 500ms, font-size 500ms;
}

.overlay-text-small {
  font-size: .3em;
}

.overlay-text.visible {
  display: flex;
  animation: overlay-grow 500ms forwards;
}

@keyframes dance {
  0%, 100% {
    transform: rotate(0)
  }
  25% {
    transform: rotate(-30deg)
  }
  75% {
    transform: rotate(30deg)
  }
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, .8);
    font-size: 10em;
  }
}

@media (max-width: 600px) {
  .game-container {
    grid-template-columns: repeat(2, auto)
  }

  .game-info-container {
    flex-direction: column;
    align-items: center;
  }
}

footer {
  font-family: Jazz LET, fantasy;
  color: #ffd9de;
  text-align: center;
  font-size: 25px;
}